*{
    margin: 0;
    font-family: 'Overpass', sans-serif;
    font-weight: bold;
}
body{
    background: blue;
}

main{
    max-width: 350px;
    margin: 100px auto;
}

.coin-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.coin{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 5px 0;
}

.bitcoin-item{
    background:#52b788;
}

.dollar-item{
    opacity: 0;
    background: #d62828;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name:opacity;
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}